.splash-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(var(--vh, 1vh) * 100);
  width: 100%;
  background: #f6f8fa;
  overflow: hidden;
}



.splash-content {
  text-align: center;
  animation: fadeIn 1s ease;
}
.splash-content img {
  width: 90px;
  height: auto;
  fill: #3b82f6;
}
.splash-content h1 {
  font-size: 1.8rem;
}

.logo-dark {
 font-family: "Poppins", sans-serif;
 font-style: italic;
  font-weight: 600;
  line-height: 1.3;
  color: #444;
  font-weight: 600;
}

.logo-blue {
  color: #3b82f6;
   font-family: "Poppins", sans-serif;
 font-style: bold;
 margin-left: 0.2rem;
  font-weight: 700;
}

/* Lade-Animation */

.loading-ring {
  width: 36px;
  height: 36px;
  border: 4px solid #3b82f6;
  border-top-color: transparent;
  border-radius: 50%;
  margin: 1rem auto 0;
  animation: spin 1s linear infinite;
}
/* Animationen */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}